:root{
    --black: #0D0D0D;
    --light-green: #0DA643;
    --dark-green: #0B8C43;
    --white: #fff;
    --border-radius: 4px;
}


*{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 0;
    margin: 0;
    color: var(--black);
    box-sizing: border-box;
}

h1{
    margin: 0 0 1rem 0;
}
h3{
    margin-top: 0;
}
article,
table{
    border: 2px solid var(--light-green);
    border-radius: var(--border-radius);
}
article{
    padding: 1rem;
}
article h3{
    margin: 0 0 0.5rem 0;
}
article p:nth-of-type(2){
    margin: 1rem 0;
}
table{
    background: var(--white);
    padding: 1rem;
    width: 300px;
}
input[type="radio"]{
    appearance: none;
    background-color: #fff;
    margin: 0;
    font: inherit;
    color: currentColor;
    width: 1.15em;
    height: 1.15em;
    border: 0.15em solid pink;
    border-radius: 50%;
    transform: translateY(-0.075em);
}
input[type="radio"]::before {
    content: "";
    width: 0.65em;
    display: block;
    height: 0.65em;
    border-radius: 50%;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
}
  
input[type="radio"]:checked::before {
transform: scale(1);
}
button{
    background: var(--light-green);
    border: 2px solid var(--light-green);
    border-radius: var(--border-radius);
    color: var(--white);
    cursor: pointer;
    padding: 7px 20px;
    transition: all 0.5ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
button:hover,
button:active{
    background: var(--dark-green);
    border-color: var(--dark-green);
}
form button{
    margin-top: 1.5rem;
    width: 100%;
}
.wrapper{
    padding: 2rem;
}
.field{
    border: none;
    padding: 0;
    margin: 0px;
    position: relative;
    margin-top: 2rem;
}
.field-input{
    width: 100%;
    padding: 10px;
    border: 2px solid var(--black);
    border-radius: var(--border-radius);
}
.field-input:focus,
.radio-field:focus-within{
    outline: none;
    border-color: var(--light-green);
}
.field-label{
    position: absolute;
    top: -15px;
    background: var(--white);
    left: 8px;
    padding: 3px 8px;
}
#wrap{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 0.75rem;
    margin-top: 2rem;
}
.add-book-wrap{
    min-height: 100vh;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.25);
    transition: opacity 0.5s ease 0s;
    opacity: 1;
    z-index: 3;
    position: fixed;
}
.hide{
    display: none;
}
.show{
    display: flex;
}
.input-error,
.input-error:focus,
.input-error:focus-within{
    border-color: tomato;
}
#title-error,
#author-error{
    color: tomato ;
    font-size: 12px;
}
input[type="checkbox"]{
    position: relative;
    cursor: pointer;
    height: 18px;
    width: 18px;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    appearance: none;
    border: 2px solid var(--black);
    border-radius: var(--border-radius);
    outline: none;
    top: 4px;
    transition-duration: 0.3s;
}
input[type="checkbox"]:checked{
    background-color: var(--light-green);
}
input[type="checkbox"]:checked:before{
    content: '';
    display: block;
    top: 2px;
    left: 2px;
    height: 5px;
    width: 8px;
    border-bottom: 2px solid var(--black);
    border-left: 2px solid var(--black);
    position: absolute;
    transform: rotate(-53deg);
}
input[type="checkbox"]:checked:after{
    content: 'Yes';
    display: block;
    border-color: var(--light-green);
    font-size: 1rem;
    position: absolute;
    left: 1.5rem;
    top: -2px;
    color: var(--dark-green);
}
input[type="checkbox"]:after{
    content: 'No';
    display: block;
    font-size: 1rem;
    position: absolute;
    left: 1.5rem;
    top: -2px;
}