@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&family=Poppins:wght@400;600&display=swap');

*{
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
    --blue: #178bbf;
    --white: #fcfcfc;
    --black: #333;
    --light-grey: #616161;
}
h1{
    font-size: 1.75rem
}
p{
    color: var(--light-grey);
    font-size: 0.8rem;
}

.profile-pic-placeholder{
    width: 40px;
    border-radius: 50%;
    display: inline-block;
    height: 40px;
    background: purple;
}


.sidenav{
    background: var(--blue);
    color: var(--white);
    display: flex;
    flex-direction: column;
    padding: 2rem 0.5rem
}
.sidenav .logo,
.sidenav .links,
.sidenav .utilities{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.sidenav .links img,
.sidenav .utilities img{
    width: 1.5rem;
    margin-right: 1rem;
}
.logo{
    margin: 1rem;
}
.logo img{
    margin: -0.5rem 0.5rem 0 0.5rem;
    width: 40px;
}
.links,
.utilities{
    margin: 1rem 2rem;
    cursor: pointer;
}


/* Top nav section */

.search-bar > img{
    display: inline-block;
}
.search-bar > input{
    border:none;
    background-image:none;
    background-color:transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    display: inline-block;
    width: 75%;
    border-radius: 16px;
    padding: 5px 15px;
    background: #e1e8ef;
    border: 2px solid #e1e8ef;
}
.search-bar > input:focus{
    background: var(--white);
    box-shadow:0px 0px 0px 2px white, 0px 0px 0px 4px var(--blue);
}
.profile h3{
    display: none;
}




.dashboard{
    background: #e2e8f0;
    display: flex;
    flex-direction: column;
}



.announcement-articles{
    background: var(--white);
    border-radius: 4px;
    margin: 1rem 0 1.75rem 0px;
    padding: 1.5rem;
}
.announcement-articles p{
    margin-bottom: 1rem;
}
/* Project Card Styline */
.card-wrap{
    border-left: 6px solid gold;
    border-radius: 4px;
    background: var(--white);
    transition: all 0.25s ease;
}
.card-wrap:hover{
    border-left: 9px solid gold;
}
.card-wrap,
.announcement-articles,
.trending{
    box-shadow: 2px 2px 4px 0px #cecece;
}

.card{
    padding: 1rem;
}
.social{
    text-align: right;
    align-self: end;
}
.social img{
    width: 1.5rem;
    margin-left: 2rem;
}



/* Buttons */
.button-wrap{
    padding: 1.5rem 0;
}
.button-wrap buttons{
    background: var(--blue);
    border: 2px solid var(--blue);
    color: var(--white);
    cursor: pointer;
    padding: 0.5rem;
    display: block;
    text-align: center;
    border-radius: 25px;
    width: 90%;
    margin: 0 auto;
    transition: all 0.25ms ease-in-out;
}
.button-wrap buttons:hover{
    background: var(--white);
    color: var(--blue);
}
.button-wrap buttons:nth-child(2){
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
}




/* Announcements Componenet */

.announcement-articles a{
    border-bottom: 1px solid grey;
    display: block;
    text-decoration: none;
    color: var(--black);
}
.announcement-articles a:last-of-type{
    border-bottom: none;
}
.announcement-articles h4{
    margin-top: 1rem;
}


/* Trending Componant */
.trending{
    background: var(--white);
    border-radius: 4px;
    margin-top: 1rem;
    padding: 1.75rem;
}
.trending-contacts{
    display: flex;
    margin-bottom: 18px;
}
.trending-contacts:last-of-type{
    margin-bottom: 0;
}
.trending-contacts div{
    margin-left: 10px;
}
.trending-contacts p{
    font-size: 0.75rem;
}

@media all and (min-width: 975px){
    body{
        display: grid;
        grid-template-columns: 20vw auto;
    }
    .dashboard{
        display: grid;
        grid-template-columns: auto 20vw;
    }
    .sidebar{
        padding: 0.75rem 0.75rem 0.75rem 0;
    }
    .wrapper{

    }
    .utilities-output{
        margin-top: 2rem;
    }
    .top-section{
        box-shadow: 1px 2px 9px #cecece;
        display: block;
        padding: 35px 0 0 35px;
        position: relative;
    }

    .profile-info div:first-child{
        display: flex;
    }
    .profile-info div:first-child img{
        margin-right: 15px;
    }
    .search-wrap{
        display: grid;
        grid-template-columns: 2fr 1fr;
    }

    .search-bar{
        display: flex;
        align-items: center;
    }
    .search-bar img{
        width: 25px;
        margin-right: 15px;
    }
    img[alt="alerts"]{
        height: 25px;
        width: 25px;
    }
    img[alt="alerts"] ~ span{
        position: absolute;
        display: inline-block;
        height: 10px;
        width: 10px;
        content: '';
        background: var(--blue);
        left: 2px;
        left: 15px;
        border-radius: 50%;
    }

    .project-wrap{
        display: grid;
        grid-template-columns: repeat( 2, 1fr);
        grid-template-rows: auto;
        gap: 1rem;
        padding: 0.75rem 1rem;
    }
    .project-wrap > h3{
        grid-column-start: 1;
        grid-column-end: 3;
    }




    .card{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto 1fr 50px;
        height: 100%;
    }





    .profile{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }

    .profile h3{
        display: initial;
    }
    .profile div{
        position: relative;
    }
    .profile-info{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }




    .button-wrap{
        padding: 1.5rem;
        text-align: right;
    }
    .button-wrap buttons{
        display: inline-block;
        width: 115px;
    }
    .button-wrap buttons:nth-of-type(2){
        margin-left: 15px;
        margin-right: 15px;
    }
}