@font-face{
    font-family: Norse-bold;
    src: url('./assets/Norse-bold.otf'), url('./assets/Norse-bold.otf') format('otf');
}
*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 color: var(--black);   
}
:root{
    --warning: tomato;
    --black: #444;
    --green: #596d49;
    --bg-color: #f9fafb;
    --container-padding: 17vh 7%;
}

h1{
    font-family: 'Norse-bold';
    color: var(--bg-color);
    font-size: 4em
}
p,
form{
    font-family: 'Montserrat', sans-serif;
}
p{
    font-size: 1.25em;
    grid-column: 1 /span 2;
}
button{
    color: #fff;
    cursor: pointer;
    background: var(--green);
    border: 2px solid var(--green);
    border-radius: 4px;
    transition: all 0.15s ease-in-out;
    width: 150px;
    padding: 10px;
}
button:hover{
    background: var(--bg-color);
    color: var(--green);
}
a{
    cursor: pointer;
    text-decoration: none;
    position: relative;
}
a:after{
    display: block;
    content: '';
    width: 0px;
    height: 2px;
    box-shadow: 5px 10px #888888;
    position: absolute;
    transition: all 0.5s ease-in-out;
    left: -8px;
    top: 16px;
    transition: width 0.25s ease-in-out;
}
a:hover:after{
    width: 70px;
}

.wrapper{
    display: grid;
    grid-template-columns: 30% 70%;
    height: 100vh;
    margin: 0 auto;
}
.hero{
    background: url('./assets/hero-img.png') no-repeat;
    background-size: cover;

}
.hero div{
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(50, 50, 50, 0.75);
    margin: 30vh 0;
    padding: 5% 0;
    
}
.hero img{
    height: 125px;
    position: relative;
    top: -5px;
}
.body-wrap{
    background: var(--bg-color);
}
.body-wrap section:first-of-type{
    padding: 10% 5% 5% 5%;
    max-width: 800px;
}
.body-wrap section:last-of-type{
    padding: 5%;
}
.body-wrap form{
    background: #fff;
    box-shadow:0 6px 5px 1px #c1c1c1;
    display: grid;
    grid-gap: 15px;
    grid-template-columns: 1fr 1fr;
    padding: 5%;
}

form span{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 80%;
}
form label{
    text-transform: uppercase;
    font-size: 0.65rem;
    font-weight: 700;
    letter-spacing: 1px;
}
form input{
    all: unset;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    padding: 5px 10px;
    font-size: 0.85rem;
}
input:focus{
    border-color: dodgerblue;
    box-shadow: 0px 1px 4px 1px #ccc;
}
/* form Grid */
form{
    display: grid;
}

.error{
    border-color: red;
}
input.error + span:after{
    content: '*Passwords must match';
    color: red;
    font-size: 12px;
}
.success{
    border-color: #50C878;
}
input.success + span:after{
    content: '';
}